/* GalleryCard.css */
.gallery-card {
  width: 100%;
  height: 152px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
  position: relative; /* Added to ensure the ::after pseudo-element is positioned relative to this element */
}

@property --angle{
  syntax:"<angle>";
  initial-value: 0deg;
  inherits: false;
}
.gallery-card::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 4px;
  border-radius: 16px;
  animation: 3s spin linear infinite;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.gallery-card:hover::after, .gallery-card:hover::before {
  opacity: 1; /* Visible on hover */
}

.gallery-card:hover::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 4px;
  border-radius: 16px;
  animation: 3s spin linear infinite;
  filter: blur(1.5rem);
  opacity: 0.5;
}

.gallery-card::before{
  filter:blur(1.5rem);
  opacity:0.5;
}

.svg-wrapper {
  position: relative;
}

.card-title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Satoshi', sans-serif;
  line-height: 30.48px;
  color: #ffffff; /* Default to white, will be overridden if needed */
}

/* Ensure images maintain aspect ratio */
img {
  max-width: 100%;
  height: auto;
}

@keyframes spin{
  from{
    --angle:0deg;

  }
  to{
    --angle:360deg;

  }
}