.property-card {
  width: 524px;
  height: 145px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  border: 2px solid white;
  backdrop-filter: blur(10px);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  z-index: 3; /* Ensure the card is above other elements */
}

.puzzle-icon {
  width: 96px;
  height: 96px;
  object-fit: contain; /* Ensure the icon scales correctly */
}

.property-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9px;
}

.property-title {
  align-self: stretch;
  color: #656e73;
  font-size: 24px;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
}

.property-description {
  align-self: stretch;
  color: #656e73;
  font-size: 18px;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
}